
<div class='columns medium-4'>
  <div class="panel">

    <h2>Saved Contacts</h2>
    <hr/>
    <ul>
      <li ng-repeat="contact in contacts">
        <p>Name: {{contact.name}} </p>
        <p>Email: {{contact.email}}</p>
        <a href="" ng-click="deleteContact(contact._id)">Delete</a>
      </li>
    </ul>
  </div>
</div>

<div class='columns medium-4'>
  <div class="row">

    <div class="panel callout">
      <h2>Add a contact</h2><hr/>


      <form ng-submit='addContact(contact)'>
        <div class="columns medium-2">
          Name:
        </div>
        <div class="columns medium-10">
          <input ng-model='contact.name' type="text"/>
        </div>
        <div class="columns medium-2">
          Email:
        </div>
        <div class="columns medium-10">
          <input ng-model='contact.email' type="text"/>
        </div>
        <div class="row">

          <div class="medium-12 columns">
            <button class='button small radius right' type='submit'>Add Email</button>
          </div>
        </div>
        <p>{{emailMessage}}</p>
      </form>
    </div>
  </div>
</div>


<div class="columns medium-4">
  <div class="panel">

    <h2>Send An Email</h2><hr/>

    <form ng-submit='sendEmail(Email)'>
      <div class="columns medium-3">
        Sender:
      </div>
      <div class="columns medium-9">
        <input ng-model='Email.sender' type="text"/>
      </div>
      <div class="columns medium-3">
        Subject:
      </div>
      <div class="columns medium-9">
        <input ng-model='Email.subject' type="text"/>
      </div>
      <textarea ng-model='Email.body' rows="8" cols="40"></textarea>
      <div class="row">

        <div class="columns medium-12">
          Send email to:
        </div>
        <div class="columns medium-8">

          <select ng-model='Email.receiver'>
            <option ng-repeat='contact in contacts' value={{contact.email}}>
              {{contact.name}}
            </option>
          </select>
        </div>
        <div class="medium-4 columns">
          <button type='submit' class="radius button small right">Send</button>
        </div>
      </p>
      <p>{{message}}</p>
    </form>
  </div>
</div>
